/* ============================================
          RESET I ESTILS BASE
 ============================================ */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ============================================
          CONTENIDOR GENERAL (ENGLOBA TOT)
 ============================================ */
.container-portfolio {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 10px black;
    padding: 3rem;
}

/* ============================================
          HEADER AMB IMATGE DE PERFIL
============================================ */
header {
  background-color: #edf4fc;
    text-align: center;
padding: 1rem;
border-bottom: 6px solid #3498db ;
}

/* Imatge de perfil */
header img {
border-radius: 15rem;
width: 10rem;
border:4px solid #93c5fd ;
}

/* Nom principal */
#nom-principal {
  font-size: 3rem;
}

/* Subtítol professional */
.rol-professional {
  color: #3498db;
font-size: 1.5rem;
}

/* Descripció breu */
header p {
padding: 6px;
}

/* ============================================
          CONTINGUT PRINCIPAL (MAIN)
============================================ */
main {
  margin: 2rem;
  padding: 1rem;
}

/* ============================================
          SECCIONS GENERALS
============================================ */
section.seccio {
}

/* Títols de secció */
section.seccio > h2 {
  margin: 12px;
    font-size: 2rem;
    border-bottom: 3px solid #f0f4f8;

}

/* ============================================
          SECCIÓ - SOBRE MI
============================================ */
section.sobre-mi p {
    padding-bottom: 2rem;
    padding: 1rem;
  }

/* ============================================
          HABILITATS
============================================ */
ul.habilitats-llista {
  list-style: none;
}

/* Selector de descendent - Items dins de la llista */
ul.habilitats-llista li {
padding: 1rem;
margin: 1rem 0;
border-radius: 10px;
}

/* Classes específiques per nivell */
ul.habilitats-llista li.nivell-expert {
  background-color: rgba(52, 152, 219, 0.3);
    border-left: solid 8px #3498db;
}

ul.habilitats-llista li.nivell-expert strong {
  color:#2563eb;
}

.habilitats-llista li.nivell-intermig {
  background-color: rgba(52, 152, 219, 0.2);
  border-left: solid 8px #61abff;
}

ul.habilitats-llista li.nivell-intermig strong {
  color: #61abff;
}

ul.habilitats-llista li.nivell-basic {
  background-color: rgba(52, 152, 219, 0.1);
  border-left: solid 8px #93c5fd;
}

ul.habilitats-llista li.nivell-basic strong {
  color: #93c5fd;
}

/* ============================================
            PROJECTES
============================================ */
article.projecte {
  border:solid 1px rgba(52, 152, 219, 0.3);
  border-right: 5px solid #3498db;
  border-bottom: 5px solid #3498db;
border-radius: 0.5rem;
padding: 2rem;
margin: 1rem;
}


/* Selector fill directe - Títol de projecte */
article.projecte > h3 {
  text-align: center;
  font-size: 1.5rem;
}

/* Imatges de projectes */
article.projecte img {
width: 100%;
border-radius: 5px;
}

/* Selector d'atribut - Enllaços amb href */
article.projecte a[href] {
  background-color: #1e293b;
  color: #FFFFFF;
  padding: 9px;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  text-decoration: none;
  font-size: 15px;
}

/* Paràgrafs dins de projectes */
article.projecte p {
  text-align: left;
  margin: 1rem 0;
  font-size: 15px;
  line-height: 1.6rem;
  color: #475569;
}

article.projecte p strong {
  color: #1e293b;
}

/* ============================================
          EXPERIÈNCIA I FORMACIÓ
============================================ */
div.experiencia-item {
  border: 1px solid #3498db;
  border-left: 8px solid #3498db;
  border-right: 8px solid #3498db;
  border-radius: 2rem ;
  margin-bottom: 1.9rem;
  padding-left: 2rem;
  background-color:rgba(241, 245, 249, 0.8);
}

/* Títols dels contenidors d'experiència */
div.experiencia-item h3 {
  font-size: 20px;

}

/* Selector germà adjacent - Paràgraf després del títol */
div.experiencia-item h3 + p {
  color: #3498db;
  font-weight: bold;
}

/* Elemenets em (dintre de l'element experiència) */
div.experiencia-item em {
  color: #64748b;
  font-size: 0.9rem;
}

/* Selector germà general - Tots els paràgrafs després de l'empresa */
div.empresa ~ p {
  background-color: black;
}

/* ============================================
        CONTACTE
============================================ */
footer.contacte {
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background-color: #edf4fc;
  border-top: 5px solid #3498db;
}

footer.contacte h2 {
  font-size: 1.8rem;
  color: #1e293b;
}

footer.contacte > p {
  color: #64748b;
  word-spacing: 1px;
}

/* Contenidor d'informació de contacte */
footer.contacte .info-contacte {
  padding: 1rem;
}

/* Selector múltiple - Tots els enllaços i span de contacte */
footer.contacte .info-contacte a,
footer.contacte .info-contacte span {

}

footer.contacte .info-contacte span {
  color: #cbd5e1;
  margin: 1rem;
}

footer.contacte .info-contacte a[href] {
  border: 2px solid;
  padding: 0.5rem 1.1rem;
  text-decoration: none;
  border-radius: 4px;
}

/* Selector d'atribut específic - Email */
footer.contacte a[href^='mailto:'] {
  color: #3498db;
  font-weight: bold;
  background-color: rgba(52, 152, 219, 0.1);
}

/* Selector d'atribut específic - Telèfon */
footer.contacte a[href^='tel:'] {
  color: #1e293b;
  font-weight: bold;
  background-color: rgba(30, 41, 59, 0.1);
}
